/* Fonts: */

@font-face {
  font-family: rubik;
  src: url('../fonts/rubik/Rubik-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: gray; */
  font-family: rubik;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
button:hover {
  opacity: 0.5;
}
main {
  width: 800px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* align-items: flex-end; */
}
aside {
  flex: 1;
  flex-direction: column;
}
h1 {
  margin: 0;
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
}

.main-content {
  height: 400px;
}

.weather {
  flex: 1;
  margin: 5px;
  text-align: center;
}

.locations-table {
  overflow: auto;
  flex: 1;
  margin: 5px;
  text-align: center;
}

td {
  border-bottom: 1px solid black;
}

/* HELPERS */
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.column {
  flex-direction: column;
}

/* Layout: */

.main-container {
  max-width: 1060px;
  margin: 0 auto;
}

/* Components: */

.main-nav {
  margin-bottom: 25px;
}

.main-nav > .main-nav-flex > .logo {
  font-size: 3rem;
}

.search-container > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 2rem;
}

.go-button {
  margin-inline-end: 1rem;
  background-color: #3498db;
  font-weight: bold;
  color: white;
}

.search-container > input {
}

.my-location-button {
  background-color: #f1c40f;
}
.my-location-button > img {
  height: 1rem;
}
